/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-image: url("https://imgs.search.brave.com/_A0oa_i_9J5JfXyDx37Isoh5zBcjES9V9x8gkX0FunA/rs:fit:506:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5P/U0VySUxDUHItek9O/Y253TGRPUVh3SGFH/OCZwaWQ9QXBp");
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-image: url("https://imgs.search.brave.com/YHEActhusPPqHHKg3txFievqKeWlh6KZkib_pOGWg1w/rs:fit:736:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5q/RkpwWFd3LUwzV1VH/SlQ4QlhndXlnSGFF/eCZwaWQ9QXBp");
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
  }